/* Стили для коробок */


.box-1{
    flex-basis: 25%;
    max-width: 25%;
}



.box-2{
    max-width: 50%;
    flex-basis: 50%;
}

.box-22{
    max-width: 50%;
}

.box-3{
    flex-basis: 75%;
}

.box-4{
    flex-basis: 100%;
}

.box-33{
    flex-basis: 35.4%;
    max-width: 35.4%;
}

.box-67{
    flex-basis: 65.6%;
    max-width: 65.6%;
}

/* Стили для границ коробок */

.border-left{
    border-left: 1px solid #a0a0a0a4;
}

.border-right{
    border-right: 1px solid #a0a0a0a4;
}

.border-top{
    border-top: 1px solid #a0a0a0a4;
}

.border-bottom{
    border-bottom: 1px solid #a0a0a0a4;
}
